table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    color: black;
    background-color: gold;
}
body {
    background-image: url("/historia/public/img/background.png");
    background-attachment: fixed;
    font-family: Trebuchet MS, sans-serif;
    color: white;
}
li > div > a {
    text-decoration: none;
}
.menu {
    width: 20%;
}
.optgroup-header {
    font-weight: bold;
}
